doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Products
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='1000.css')
    link(rel='stylesheet', href='header.css')
    link(href='https://fonts.googleapis.com/css2?family=Marck+Script&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
  body
    include header.pug
    .header
      .header_img
        img(src='products_img/header_img.png', alt='')
      .button
        a(href='shop.html')
          button(type='button') Присъедни се към моя екип и пазарувай с отстъпка!
    main.main_section
      section
        .image
          .magnifier
            img(src='products_img/health/drinks/forever_aloe_vera_gel.jpg', alt='')
          p.price 59.54 лв
        .text
          h1 Aloe Vera Gel
          h2 Гел от Алое Вера
          p.p-id Продуктов номер: 1000
          p.txt Алое Вера Гел съдържа 99,7% чист гел от вътрешността на листата на растението алое вера, който бива извлечен на ръка, за да се осигури добиването на максимално качествен продукт. Той е предназначен да насърчава цялостното благосъстояние и е популярен избор сред тези, които търсят естествени добавки в подкрепа на здравето си. Сега в Тетра Пак опаковка, изработена от 100% рециклируеми материали! Основните му предимства се изразяваат в поддържане здравето на храносмилането: Алое вера може да спомогне за облекчаване при храносмилателен дискомфорт, подкрепа на имунната система: Алое вера съдържа антиоксиданти и витамини, които могат да помогнат за засилване на имунната система, съдържание на естествени хранителни вещества, като витамини А, С и Е, както и калций, магнезий и калий.
          .tab
            button.tablinks(onclick="openTab(event, 'Content')") Състав
              i.bi.bi-arrow-down-short
            button.tablinks(onclick="openTab(event, 'Use')") Употреба
              i.bi.bi-arrow-down-short
            button.tablinks(onclick="openTab(event, 'Storage')") Съхранение
              i.bi.bi-arrow-down-short
          #Content.tabcontent
            h2 Състав
            p Стабилизиран гел от алое вера [гел от алое вера (99,7%), витамин С (аскорбинова киселина), антиоксидант (аскорбинова киселина), регулатор на киселинността (лимонена киселина)].
          #Use.tabcontent
            h2 Употреба
            p Разклатете добре преди употреба! Три приема дневно по 40 мл. Сипвайте всяка доза в чаша и разреждайте в 240 мл вода или сок. Сипвайте напитката в чаша, не пийте директно от опаковката, за да не попадат в нея бактерии, които могат да ускорят развалянето.
          #Storage.tabcontent
            h2 Съхранение
            p На сухо и хладно място. След отваряне съхранявайте в изправено положение в хладилник (макс. 7°С) и консумирайте до 30 дни. Не вдигайте опаковката за гърлото, за да не я повредите.
