
/*------------------ Cover ------------------*/

.cover img{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
height: 100%;
width: 100%;
z-index: -1;
}

.main_section{
position: relative;
margin-top: -47%;
color: #182C00;
}

/*------------------ Main section ------------------*/

.main{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #182C00;
  text-align: justify;
  line-height: 1.5;
}

.main_text h1{
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  margin-left: 14%;
  margin-right: 14%;
}

.gallery {
  --g: 8px; 
  --s: 400px;
  display: grid;
  border-radius: 50%;
  justify-items: center;
  margin: 4% 0;
}
.gallery > img {
  grid-area: 1/1;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x,0),var(--_y,0));
  cursor: pointer;
  z-index: 0;
  transition: .3s, z-index 0s .3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform .2s, clip-path .3s .2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0,0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
  --_y: calc(-1*var(--g))
}
.gallery > img:nth-child(2) {
  clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: var(--g)
}
.gallery > img:nth-child(3) {
  clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
  --_y: var(--g)
}
.gallery > img:nth-child(4) {
  clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
  --_x: calc(-1*var(--g))
}

.main h2{
  text-align: center;
  margin-bottom: 18px;
}

.main .first_list{
  margin-left: 2%;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
}

.main .second_list{
  margin-left: 4%;
  margin-bottom: 1%;
}

.main .second_list span{
  font-weight: 600;
  color: #F82536;
}

.main .paragraph2{
  font-family: 'Marck Script', cursive;
  font-size: 48px;
  text-align: center;
  margin-top: 3%;
}
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100%;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  height: 600px;
}

.box > img {
  width: 200%;
  height: 100%;
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
  
.my_story h3{
  font-size: 24px;
  text-align: center;
  margin-bottom: 2%;
}

.my_story .paragraph4{
  margin: 1% 0;
}

.my_story1 h4{
  font-size: 24px;
  text-align: center;
  margin-bottom: 2%;
}

.paragraph5 span{
  font-weight: 600;
  color: #F82536;
}

.paragraph5{
  margin-bottom: 1%;
}

.button button{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  background-color: #F82536;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  text-align: left;
  text-decoration: none;
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 1%;
  }

.button a{
  text-decoration: none;
  }

.button button:hover{
  transform: translateY(-5%);
  }


/*------------------ Footer ------------------*/
@media (max-width: 900px) {

  .main{
    margin-left: 25px;
    margin-right: 25px;
  }

  .main_section{
    margin-top: 120px;
  }

  .cover img{
    display: none;
  }

  .main_text h1{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
  }
  
  .gallery > img {
    grid-area: 1/1;
    width: 250px;
    margin-bottom: 20px;
  }

  .main {
    font-size: 16px;
  }

  .main h2{
    text-align: center;
    margin-bottom: 18px;
    font-size: 18px;
  }

  .main .paragraph2{
    font-size: 28px;
  }

  .my_story h3{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .my_story1 h4{
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .container{
    height: 200px;
  }

  .container #box5{
    display: none;
  }

  .box {
    height: 100%;
    box-shadow: none;
  }
  
  .box > img {
    width: 100%;
  }
  
  .button button{
    padding: 12px 14px;
    font-size: 16px;
    margin-top: 3%;
  }
}