.cover_mobile {
  display: none;
}

.cover {
  position: relative;
  z-index: -1;
}

.cover img {
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

.container {
  display: grid;
  grid-template-columns: 340px 513px;
  gap: 40px;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20%;
}

.container .left-side {
  background-color: #f82536;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 15%;
  font-weight: 300;
  border-radius: 0.3rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.266);
}

.container .left-side p {
  padding-top: 5%;
}

.container .left-side h1 {
  font-weight: 700;
}

.container .left-side h2 {
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 10%;
}

.container .left-side .id {
  margin-top: 15%;
  font-style: italic;
}

.container .left-side .id span {
  font-weight: 600;
  font-style: normal;
}

.container .right-side {
  color: black;
}

.container .right-side h1 {
  text-align: center;
  padding-bottom: 3%;
}

.container .right-side ::placeholder {
  font-family: "Montserrat", sans-serif;
}

#first_name,
#last_name,
#email,
#message {
  background-color: rgb(236, 236, 236);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 0.2rem;
}

textarea {
  padding-bottom: 15%;
}

input[type="text"],
input[type="email"],
textarea:focus {
  outline: none;
}

#popup-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 60px;
  color: #71b120;
  font-weight: 600;
}

form p {
  font-size: 12px;
  padding-bottom: 15px;
}

/* ..............................Button.............................. */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 50px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s linear;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  position: relative;
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  z-index: 4;
  background: none;
  color: #182c00;
}

button::before {
  content: "";
  display: block;
  width: 100px;
  height: 100%;
  background-color: #f82536;
  position: absolute;
  border-radius: 100px;
  left: 1px;
  z-index: -1;
  transition: all 600ms ease;
}

button:hover::before {
  width: 100%;
}

button:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
  .cover img {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (max-width: 990px) {
  .cover img {
    display: none;
  }

  .cover_mobile {
    display: block;
  }

  .cover_mobile img {
    width: 100%;
    height: 100%;
    margin-top: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 15%;
  }

  .container .left-side {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.266);
    padding: 10%;
  }

  .container .left-side p {
    padding-top: 8px;
  }

  .container .left-side h2 {
    padding-bottom: 30px;
  }

  .container .left-side .id {
    margin-top: 40px;
    font-style: italic;
  }

  .container .left-side h1 {
    font-size: 28px;
  }

  .container .left-side h2 {
    font-size: 20px;
    font-weight: 200;
  }

  .container .right-side {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container .right-side h1 {
    font-size: 28px;
  }

  textarea {
    height: 180px;
  }

  button {
    background: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #f82536;
    padding: 1%;
    color: #ffffff;
    min-width: 140px;
    min-height: 60px;
    font-size: 18px;
  }
}
