.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  color: #182C00;
  line-height: 1.5;
  border-top: 0.5px solid #a3a3a386;
}

.icon a {
  padding-right: 15px;
}

.left, .right {
  padding: 20px 40px;
}

.left .p1 {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 10px;
}

.left .telephone{
  padding-bottom: 5px;
}

.left .name{
  padding-top: 10px;
  font-weight: 600;
}

.left .icon a{
  color: #182C00;
  text-decoration: none;
  transition: all 0.2s;  
}

.left .icon a:hover{
  color: #F82536;
}

.right{
  text-align: right;
}

.logo1 img{
  width: 147px;
  height: 66px;
}

.right a{
  color: #182C00;
  text-decoration: none;
  line-height: 1.7;
}

.right p {
  line-height: 1.6;
}

.right a:hover {
  font-weight: 500;
  color: #F82536;
}

.center{
  text-align: center;
  align-self: end;
  padding-bottom: 5px;
}

.center .img img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 1140px) {

  .logo1 img{
      width: 147px;
      height: 66px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .right{
    text-align: center;
    line-height: 2;
    order: 1;
    padding-top: 0;
  }

  .right .logo{
    padding-bottom: 5px;
  }

  .center{
    padding-bottom: 0;
    padding-top: 0;
    order: 2;
  }

  .center .copyright{
    font-weight: 300;
  }
}