.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #182c00;
  line-height: 1.5;
  border-top: 0.5px solid #a3a3a386;
  font-family: "Montserrat", sans-serif;
}

.icon a {
  padding-right: 15px;
}

.left,
.right {
  padding: 20px 60px;
}

.left h2 {
  padding-bottom: 10px;
}

.left .telephone {
  padding-bottom: 5px;
}

.left .name {
  padding-top: 10px;
}

.left .icon a {
  color: #182c00;
  text-decoration: none;
  transition: all 0.2s;
}

.left .icon a:hover {
  color: #f82536;
}

.right {
  text-align: right;
}

.logo1 img {
  width: 150px;
}

.right a {
  color: #71b120;
  text-decoration: none;
  line-height: 1.7;
}

.right p {
  line-height: 1.6;
}

.right a:hover {
  color: #f82536;
}

.center {
  text-align: center;
  align-self: end;
  padding-bottom: 2px;
  font-style: italic;
  color: rgb(102, 102, 102);
}

.center p{
  font-size: 14px;
}

@media (max-width: 1024px) {
  .logo1 img {
    width: 150px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .right {
    text-align: center;
    line-height: 2;
    order: 1;
    padding-top: 0;
  }

  .left,
  .right {
    padding-left: 0px;
    padding-right: 0px;
  }

  .right .logo {
    padding-bottom: 5px;
  }

  .center {
    padding-bottom: 0;
    padding-top: 0;
    order: 2;
    font-size: 12px;
  }
}
