*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100vh;
}

.no-scroll {
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(61, 61, 61, 0.079);
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

.logo img{
    width: 140px;
}

.logo {
    padding-top: 5px;
}

header .navbar ul{
    list-style: none;
    font-weight: 400;
}

header .navbar span{
    display: none;
}

header .navbar ul li{
    position: relative;
    float: left;
    padding: 16px;
    font-weight: 400;

}

header .navbar ul li a{
    font-size: 20px;
    display: block;
    color: #182C00;
    text-decoration: none;
}

header .navbar ul li a:hover{
    color: #F82536;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 270px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    padding: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
    left: 260px;
    top: 0;
    width: 230px;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    color: #182C00;
    cursor: pointer;
    display: none;
}


@media (max-width: 1024px) {

    .logo img{
        width: 120px;
        
    }

    header{
        padding: 0 20px;
        box-shadow: 0 3px 10px rgba(59, 59, 59, 0.068);
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: fixed; 
        left: 0;
        right: 0;
        top: 65px;
        bottom: 0;
        background: #ffffff;
        display: none;
        width: 100%;
        height: auto;
        overflow: scroll;
       
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #fff;
        
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    header .navbar span {
        display: block;
        padding-top: 20px;
        
    }
}