header
  .logo
    a(href="index.html")
      img(src="index_img/IglikaLogo.png", alt="Logo")
  input(type="checkbox", id="menu-bar", title="menu-bar")
  label(for="menu-bar")
    img(src="index_img/hamburger.png", alt="")
  nav.navbar
    ul
      li
        a(href="about.html") За мен
      li
        a(href="products.html") Продукти
        span.arrow
          i.fa.fa-angle-down
        ul
          li
            a(href="health.html") Здраве и добавки
            span.arrow
              i.fa.fa-angle-down
            ul
              li
                a(href="drinks.html") Напитки
              li
                a(href="supplements.html") Добавки
          li
            a(href="cosmetics.html") Козметика
            span.arrow
              i.fa.fa-angle-down
            ul
              li
                a(href="face.html") Грижа за лицето
              li
                a(href="body.html") Грижа за тялото
              li
                a(href="personal_hygiene.html") Лична хигиена
          li
            a(href="weightcontrol.html") Контрол на теглото
          li
            a(href="packages.html") Пакети
      li
        a(href="contacts.html") Контакти
      li
        a(href="shop.html") Пазарувай с отстъпка
