
/*------------------ Main section ------------------*/

.main_section{
    display: grid;
    position: absolute;
    top: 20%;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    margin: 0 10%;
}

.image img{
    height: 479px;
    width: 538px;
    z-index: -1;
    margin-top: 5%
}

.main_text{
    display: block;
    margin: auto;
}

.main_text h1{
    font-style: bold;
    font-size: 64px;
    color: #182C00;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: auto;
}

.main_text h2{
    font-weight: 300;
    font-size: 22px;
    color: #182C00;
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 2%;
}

.main_text button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #F82536;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    font-weight: 500;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.266);
    display: block;
    margin: auto;
}

.main_text a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.main_text button:hover{
    transform: translateY(-5%);
}

@media (max-width: 990px) {


    /*------------------ Main section ------------------*/

    .main_section {
        grid-template-columns: 1fr;
        margin: 0 5%;
    }

    .main_text h2{
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .image img {
        height: 274.5px;
        width: 304px;
        display: block;
        margin: auto;
    }

    .image{
        margin-top: -5%;
    }

    .main_text h1 {
        font-size: 37px;
    }

    .main_text h2 {
        font-size: 16px;
    }

    .cover{
        display: none;
    }
}
