*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
/*------------------Navigation bar------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

header .navbar ul{
    list-style: none;
   
}

header .navbar span{
    display: none;
}

header .navbar ul li{
    position: relative;
    float: left;
    padding: 25px;
}

header .navbar ul li a{
    font-size: 20px;
    display: block;
    color: #182C00;
    text-decoration: none;
}

header .navbar ul li a:hover{
    color: #F82536;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffffff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
    
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
    
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    color: #182C00;
    cursor: pointer;
    display: none;
}


/*------------------ Main section ------------------*/

.main_section{
    display: grid;
    position: absolute;
    top: 20%;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    margin: 0 10%;
}

.image img{
    height: 479px;
    width: 538px;
    z-index: -1;
    margin-top: 5%
}

.main_text{
    display: block;
    margin: auto;
}

.main_text h1{
    font-style: bold;
    font-size: 64px;
    color: #182C00;
    text-align: center;
    font-weight: 700;
    display: block;
    margin: auto;
}

.main_text h2{
    font-weight: 300;
    font-size: 22px;
    color: #182C00;
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 2%;
}

.main_text button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #F82536;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    font-weight: 500;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.266);
    display: block;
    margin: auto;
}

.main_text a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.main_text button:hover{
    transform: translateY(-5%);
}

@media (max-width: 1140px) {


    header{
        padding: 10px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background: #fff;
        display: none;

    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #fff;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    header .navbar span {
        display: block;
        padding-top: 3%;
    }

    header .navbar ul li ul li{
        border-top: none;
        
    }

    
    /*------------------ Main section ------------------*/

    .main_section {
        grid-template-columns: 1fr;
        margin: 0 5%;
    }

    .image img {
        height: 244.5px;
        width: 274px;
        display: block;
        margin: auto;
    }

    .main_text h1 {
        font-size: 37px;
    }

    .main_text h2 {
        font-size: 13px;
    }

    .cover{
        display: none;
    }
}

