main .cover_mobile{
    display: none;
}

main .index_cover img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

main .text_main{
    position: relative;
    margin: 8%;
    background-color: rgba(255, 255, 255, 0.556);
    padding: 3%;
    line-height: 1.5;
    border-radius: 2rem;
}

main .text_main h1{
    text-align: center;
    margin-bottom: 3%;
}

main .text_main ul li{
    margin: 15px;
}

main .text_main .text_second{
    margin-top: 3%;
}

main .text_main .text_second h2{
    margin-bottom: 2%;
}

main .text_main .text_second p{
    margin-bottom: 3%;
}


@media (max-width: 900px) {

    main .index_cover{
        display: none;
    }

    main .cover_mobile{
        display: block;
      }

    main .cover_mobile img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: absolute;
    }

    main .text_main{
        position: relative;
        margin-top: 30%;
        padding: 5%;
    }

    main .text_main h1{
        padding-bottom: 15%;
    }

    main .text_main h2{
        text-align: center;
        margin-bottom: 3%;
        font-size: 20px;
    }

    main .text_main p{
        margin-bottom: 10%;
        text-align: justify;
        font-size: 16px;
    }

}